<template>
    <div id="cart-template">
        <form method="post" action="submit">
            <div class="d-flex container-fluid nav-btns p-0" style="border: white 2px solid;">
                <a href="../products" class="btn btn-pink text-white w-100 btn-0-radius"><i class="fas fa-undo-alt"></i>
                    {{$t('继续购物')}} </a>
                <button id="cart-submit-btn" type="submit" class="btn btn-danger w-100 btn-0-radius" disabled><i
                        class="far fa-edit"></i>{{$t('填写订单')}}
                </button>
            </div>
            <div class="mb-5 mt-3" style="border-radius: 5px; overflow: hidden;margin-left: 5%; width: 90%">


                <slot></slot>
                <table class="w-100">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th colspan=4
                            style="border-bottom: 0; background: #DA251E;padding: 3px 15px 3px 15px;max-width: none"
                            class="w-100 text-center text-white">{{$t('购物车信息')}}
                        </th>
                    </tr>
                    </thead>

                    <template v-for="product in products">
                        <tr>
                            <td colspan=3 style="background: white;padding: 5px 15px 5px 15px;word-wrap:break-word;">
                                <strong>{{$t(product.name)}}</strong>
                                <p class="m-0">
                                    {{$t('库存')}}:
                                    <template v-if="product.stock > 0">
                                        {{product.stock}}
                                    </template>
                                    <template v-else>
                                        <span class="text-danger">{{$t('售罄')}}</span>
                                    </template>

                                </p>
                            </td>
                            <td colspan=1 style="background: white;padding: 5px 15px 5px 15px;word-wrap:break-word;">
                                <img class="img-thumbnail mx-auto d-block"
                                     v-bind:src="'../../storage/app/'+product.image">
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2
                                style="background: white;padding: 5px 15px 5px 15px;word-wrap:break-word;color: #DA251E;font-weight: bold">
                                <div class="btn-group" role="group" aria-label="Cart Buttons">
                                    <button v-on:click="minus_from_cart(product)" type="button"
                                            class="btn btn-outline-danger pl-2 pr-2 pt-0 pb-0"> -
                                    </button>
                                    <input v-bind:onchange="check_stock()" type="number"
                                           v-bind:id="'item-quantity-'+product.id"
                                           v-bind:name="'products['+product.id+']'"
                                           class="btn btn-outline-danger pl-2 pr-2 pt-0 pb-0" v-model="product.quantity"
                                           style="width:40%">
                                    <button v-on:click="add_to_cart(product)" type="button"
                                            class="btn btn-outline-danger pl-2 pr-2 pt-0 pb-0"> +
                                    </button>
                                </div>
                            </td>
                            <td colspan=2 class="text-right"
                                style="background: white;padding: 5px 15px 5px 15px;word-wrap:break-word;color: #DA251E;font-weight: bold">
                                <span style="text-decoration: line-through">${{product.RRP}}</span> {{$t('单价')}}:
                                ${{product.price}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1"
                                style="border-bottom: 1px solid #DA251E;background: white;padding: 5px 15px 5px 15px;word-wrap:break-word;color: #DA251E;font-weight: bold">
                                <a v-on:click="remove_from_cart(product.id)" class="text-danger"><u>{{$t('删除')}}</u></a>
                            </td>
                            <td colspan="3" class="text-right"
                                style="border-bottom: 1px solid #DA251E;background: white;padding: 5px 15px 5px 15px;word-wrap:break-word;color: #DA251E;font-weight: bold">
                                {{$t('小记')}}: ${{(product.price * product.quantity).toFixed(2)}}
                            </td>
                        </tr>
                    </template>

                    <tr>
                        <td colspan="2"
                            style="border-bottom: 1px solid #DA251E;background: white;padding: 5px 15px 5px 15px;word-wrap:break-word">
                            <strong>{{$t('总计')}}：</strong></td>
                        <td colspan="2" class="text-right"
                            style="border-bottom: 1px solid #DA251E;background: white;padding: 5px 15px 5px 15px;word-wrap:break-word;color: #DA251E;font-weight: bold">
                            <strong>${{calculate_total}}</strong></td>
                    </tr>
                </table>
                <div class="w-100 d-flex container-fluid" style="margin-bottom: 100px;">
                    <div v-on:click="clear_cart()" class="btn btn-outline-danger mt-3 mx-auto btn-sm">{{$t('清空购物车')}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<style>
    div, button, .btn {
        font-size: 32px !important;
    }
</style>

<script>
    export default {
        data() {
            return {
                products: [],
                total: '',
            }
        },
        created() {
            this.fetch_products();
        },
        computed: {
            calculate_total: function () {
                var total = 0;
                _.filter(this.products, product => {
                    total += product.price * product.quantity;
                });
                total = total.toFixed(2);
                return total;
            }
        },
        methods: {
            check_stock() {
                _.filter(this.products, product => {
                    if (product.stock <= 0) {
                        $('#cart-submit-btn').prop('disabled', true);
                        this.remove_from_cart(product.id);
                    }
                    if (parseInt(product.quantity) > parseInt(product.stock)) {
                        product.quantity = product.stock;
                        this.update_cart_item(product.id, product.quantity);
                    }
                });
            },
            fetch_products() {
                $.ajax({
                    url: 'all',
                    method: 'GET',
                    success: function (response) {

                    },
                    error: function (error) {
                    }
                }).done(data => {
                    this.products = data.data;
                    if (data.data == null) {
                        $('#cart-submit-btn').prop('disabled', true);
                    } else {
                        $('#cart-submit-btn').removeAttr('disabled');
                    }
                    this.check_stock();
                });
            },
            /**
             * Ajax functions for cart function
             */
            add_to_cart(product) {
                product.quantity++;
                if (product.quantity > product.stock) {
                    product.quantity = product.stock;
                    return;
                }
                this.update_cart_item(product.id, product.quantity);
            },
            minus_from_cart(product) {
                if (product.quantity > 1) {
                    product.quantity--;
                    if (product.quantity > product.stock) {
                        product.quantity = product.stock;
                    }
                    this.update_cart_item(product.id, product.quantity);
                }
            },
            update_cart_item(product_id, quantity) {
                $.ajax({
                    url: 'update_cart_item',
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: {
                        'product_id': product_id,
                        'quantity': quantity
                    },
                    success: function (response) {

                    },
                    error: function (error) {
                        console.log(error.message + error.data);
                    }
                });
            },
            remove_from_cart(product_id) {
                $.ajax({
                    url: 'delete/' + product_id,
                    method: 'DELETE',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    success: function (response) {

                    },
                    error: function (error) {
                        console.log(error.message + error.data);
                        alert('移除失败');
                    }
                }).done(data => {
                    this.fetch_products();
                });
            },
            clear_cart() {
                $.ajax({
                    url: 'clear',
                    method: 'DELETE',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    success: function (response) {

                    },
                    error: function (error) {
                    }
                }).done(data => {
                    this.fetch_products();
                });
            },
        }
    }
</script>