<template>
    <div id="home-products-index">
        <slot></slot>
        <!-- Image Carousel -->
        <swipe id="slider-banner" class="img-carousel" :speed="500" :auto="5000">
            <template v-for="product in banner_products">
                <swipe-item class="slide">
                    <img v-on:click="show_product(product.product_id)" v-bind:src="'../storage/app/'+product.image">
                </swipe-item>
            </template>
        </swipe>


        <!-- Category Menu Section -->
        <div id="mySidenav" class="sidenav">
            <div>
                <div v-on:click="collapse_all();fetch_products_by_link('products/get_products');closeNav();"
                     class="cate-section w-100 text-center border-1" style="background-color: #D82828">
                    <a class="nav-link text-white" role="button" aria-haspopup="true" aria-expanded="false">
                        {{$t('全部产品')}}
                    </a>
                </div>
            </div>
            <div>
                <div v-for="category in categories">
                    <hr class="m-0" style="border-top: 5px solid #E1514B;">
                    <div v-on:click="collapse_all();fetch_products_by_category(category.id);closeNav()"
                         class="cate-section w-100 text-center">
                        <a class="nav-link text-dark" role="button" v-bind:href="'#cate-'+category.id"
                           data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                            <img v-if="category.image != null" class="d-block mx-auto w-100"
                                 v-bind:src="'../storage/app/'+category.image">
                            {{$t(category.name)}}
                        </a>
                    </div>
                </div>
            </div>


        </div>

        <div class="container-fluid p-0 nav-btns">
            <a id="cart-link" href="cart/show" class="btn btn-block btn-danger"> <i
                    class="fas fa-shopping-cart"></i> {{$t('查看购物车')}}</a>
        </div>
        <div id="products-section">

            <img v-if="lang == 'cn'" v-on:click="openNav()" id="open-menu-btn"
                 v-bind:src="'../public/assets/UI/open_menu.png'">
            <img v-else="lang == 'en'" v-on:click="openNav()" id="open-menu-btn"
                 v-bind:src="'../public/assets/UI/open_menu_en.png'">


            <!-- Product Display section -->

            <div v-on:click="closeNav()" id="products-grid" class="container-fluid">
                <template v-if="show_single == true">
                    <div class="row pl-3 pr-3">
                        <div class="w-100" style="padding-left: 20px; padding-right: 20px">
                            <div class="card">
                                <div class="img-container mt-0">
                                    <div class="product-img">
                                        <div class="product-timer text-white text-right w-100">
                                            <span style="background-color: #E1514B"> {{product['countdown']['hour']}}:{{product['countdown']['minute']}}:{{product['countdown']['second']}}</span>
                                        </div>
                                            <img class="mx-auto d-block mt-5" style="width:80%;height:auto;"
                                                 v-bind:src="'../storage/app/'+product.image">
                                    </div>
                                </div>
                                <hr class="mt-1 mb-1" style="border-color:#a02e2a;opacity: 0.2">
                                <span class="text-center mb-0 pl-2 pr-2"
                                      style="font-size: 14px;height:2.4em;line-height:1.2em;overflow:hidden;text-overflow: ellipsis"><strong>{{$t(product.name)}}</strong></span>
                                <div class="w-100 pl-2 pr-2" style="font-size: 10px">
                                    <span class="text-left"> {{$t('已售')}}:{{product.sales}}</span>
                                    <span class="float-right text-danger">{{$t('余货')}}:{{product.stock}}</span>
                                </div>
                                <div class="w-100 pl-2 pr-2 mb-1" style="font-size: 10px">
                                                <span class="text-left text-danger"
                                                      style="text-decoration: line-through">${{product.RRP}}</span>
                                    <span class="float-right text-danger"> $AUD {{product.price}}</span>
                                </div>
                                <button v-on:click="add_to_cart(product.id,1)"
                                        v-bind:id="'cart-'+product.id"
                                        class="btn btn-danger btn-block"
                                        v-bind="{disabled : product.stock <= 0}"><i
                                        class="fas fa-shopping-cart"></i>
                                    {{$t('添加至购物车')}}
                                </button>
                                <button v-on:click="show_grid" class="btn btn-pink btn-block text-white">
                                    <i class="fas fa-th-large"></i>
                                    {{$t('返回商品列表')}}
                                </button>
                            </div>
                        </div>
                    </div>
                </template>

                <swipe v-else class="img-carousel" id="slider-products" :speed="500" :auto="12000">
                    <template v-for="product_page in chunkedProducts">
                        <swipe-item class="slide">
                            <div class="row pl-3 pr-3">
                                <template v-for="product in product_page">
                                    <div class="col-6 pl-2 pr-2 pt-2 pb-2 justify-content-center">
                                        <div class="card">
                                            <div class="img-container mt-0">
                                                <div class="product-img">
                                                    <div class="product-timer text-white text-right w-100">
                                                        <span style="background-color: #E1514B"> {{product['countdown']['hour']}}:{{product['countdown']['minute']}}:{{product['countdown']['second']}}</span>
                                                    </div>
                                                    <img v-on:click="show_product(product.id)" class="mx-auto d-block" style="width:75%;height:auto;"
                                                             v-bind:src="'../storage/app/'+product.image">
                                                </div>
                                            </div>
                                            <hr class="mt-1 mb-1" style="border-color:#a02e2a;opacity: 0.2">
                                            <span class="text-center mb-0 pl-2 pr-2"
                                                  style="font-size: 14px;height:2.4em;line-height:1.2em;overflow:hidden;text-overflow: ellipsis"><strong>{{$t(product.name)}}</strong></span>
                                            <div class="w-100 pl-2 pr-2" style="font-size: 10px">
                                                <span class="text-left"> {{$t('已售')}}:{{product.sales}}</span>
                                                <span class="float-right text-danger">{{$t('余货')}}:{{product.stock}}</span>
                                            </div>
                                            <div class="w-100 pl-2 pr-2 mb-1" style="font-size: 10px">
                                                <span class="text-left text-danger"
                                                      style="text-decoration: line-through">${{product.RRP}}</span>
                                                <span class="float-right text-danger"> $AUD {{product.price}}</span>
                                            </div>
                                            <button v-on:click="add_to_cart(product.id,1)"
                                                    v-bind:id="'cart-'+product.id"
                                                    class="btn btn-danger btn-block"
                                                    v-bind="{disabled : product.stock <= 0}"><i
                                                    class="fas fa-shopping-cart"></i>
                                                {{$t('添加至购物车')}}
                                            </button>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </swipe-item>
                    </template>
                </swipe>
                <div v-if="show_single == false" class="w-100 slider-indicators text-center">
                    <span class="slider-indicator"></span>
                    <span class="slider-indicator active"></span>
                    <span class="slider-indicator"></span>
                </div>
            </div>

        </div>

    </div>


</template>

<style>
    html {
    / / background-color: #F0EFF5;
    }

    body {
        transition: background-color .5s;
    }

    /* customize image carousel */
    #slider-banner.img-carousel .slide img {
        width: 100vw;
        height: auto;
    }

    .img-carousel .slide {
        opacity: 0.3;
        transition: opacity 1s;
        top: 0;
    }

    .img-carousel .slide.is-active {
        opacity: 1;
        position: relative;
    }

    .mint-swipe-indicators {
        bottom: 0;
        line-height: 1;
    }

    /* customize products slider */
    #slider-products .mint-swipe-indicators {
        position: fixed;
        bottom: 30px;
        display: none;

    }

    #slider-products .mint-swipe-indicator {
        background-color: #E1514B;
        width: 20px;
        height: 20px;
    }

    #slider-products .mint-swipe-indicator.is-active {
        background: #E1514B;
        opacity: 0.5;
    }


    /* open menu button */
    #open-menu-btn {
        position: fixed;
        left: 0;
        top: 50vh;
        z-index: 1050;
        opacity: 1;
        width: 32px;
        transition: left 1s, opacity 1s;
    }

    #products-section {
        min-height: 60vh;
        position: relative;
    }

    /* The side navigation menu */
    .sidenav {
        position: fixed;
        height: 55vh;
        top: 35vh;
        width: 0; /* 0 width - change this with JavaScript */
        z-index: 1; /* Stay on top */
        left: 0;
        background-color: white;
        overflow-x: hidden; /* Disable horizontal scroll */
        opacity: 0;
        border: 5px solid #DA251E;
        border-radius: 0 10px 10px 0;
        border-left: none;
        box-shadow: 5px 5px 10px #E1514B;
        overflow-y: scroll;
        transition: width 1s, opacity 1s, height 0.3s, top 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    #close-button {
        position: relative;
        bottom: 0;
        width: 0;
        transition: width 1s;
        font-size: 0.9rem;
        z-index: 1050;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #products-grid {
        transition: margin-left 1s, opacity 1s;
        margin-left: 0;
        min-height: 75vh;
    }

    #products-grid button {
        padding-left: 0;
        padding-right: 0;
    }

    #cart-link {
        transition: margin-left 1s, opacity 1s;
        margin-left: 0;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    /* customize for XL mobile screen */
    div, span, button, a {
        font-size: 32px !important;
    }

    #products-grid .row {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    #products-grid .row .col-6 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    #open-menu-btn {
        width: 80px;
    }

    .slider-indicators {
        position: fixed !important;
        bottom: 30px;
    }

    .slider-indicator{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #E1514B;
        opacity: 0.2;
        display: inline-block;
    }

    .slider-indicator.active{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #E1514B;
        opacity: 0.8;
        display: inline-block;
    }

</style>

<script>
    export default {
        props: ['productsData', 'categoriesData'],
        data() {
            return {
                all_products: [],
                products: [],
                categories: [],
                nav_open: false,
                lang: '',
                timeinterval: null,
                show_single: false,
                product: '',
                banner_products: []
            }
        },
        created() {
            this.categories = JSON.parse(this.categoriesData);
            this.fetch_all_products();
            this.fetch_banner_products();
            this.nav_open = false;
            this.lang = document.documentElement.lang.substr(0, 2);
        },

        updated: function () {
            this.adjust_sidenav();
        },
        computed: {
            chunkedProducts() {
                return _.chunk(this.products, 4);
            }
        },
        methods: {
            fetch_all_products(){
                this.show_grid();
                this.loading();
                $.ajax({
                    url: 'products/get_products',
                    method: 'GET',
                    success: function (response) {

                    },
                    error: function (error) {
                    }
                }).done(data => {
                    this.all_products = data;
                    this.products = this.all_products;
                    this.countdown();
                    this.end_loading();
                });
            },
            /**
             * functions for UI
             */
            openNav() {
                if (this.nav_open == true) {
                    this.closeNav();
                    this.nav_open = false;
                } else {
                    document.getElementById("mySidenav").style.width = "40vw";
                    document.getElementById("products-grid").style.marginLeft = "40vw";
                    $('#cart-link').css('z-index', '0');
                    $('#close-button').css('width', '40vw');
                    $('#open-menu-btn').css('left', '40vw');
                    $('#mySidenav').css('opacity', 1);
                    //$('#products-grid').css('opacity',0.5);
                    //$('#cart-link').css('opacity',0.5);
                    $('#open-menu-btn').css('opacity', 0);
                    //document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
                    this.nav_open = true;
                }
            },

            closeNav() {
                if (this.nav_open == false) {
                    return;
                }
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("products-grid").style.marginLeft = "0";
                $('#cart-link').css('z-index', '1030');
                $('#close-button').css('width', '0');
                $('#open-menu-btn').css('left', '0');
                $('#mySidenav').css('opacity', 0);
                //$('#products-grid').css('opacity',1);
                //$('#cart-link').css('opacity',1);
                $('#open-menu-btn').css('opacity', 1);
                //document.body.style.backgroundColor = "#F0EFF5";
                this.nav_open = false;
            },
            collapse_all() {
                $("#mySidenav .collapse.show").collapse('hide');
            },
            back_top() {
                $(window).scrollTop(0);

            },
            adjust_sidenav() {
                var window_height = document.documentElement.clientHeight;
                var bar_height = window_height - $("#slider-banner").height();
                var cart_btn_height = $('#cart-link').outerHeight();
                $("#mySidenav").height(bar_height - cart_btn_height -20);
                $("#mySidenav").css('top', window_height - bar_height + cart_btn_height + 5);
            },
            /**
             * Ajax functions for cart function
             */
            add_to_cart(product_id, quantity) {
                var lang = this.lang;
                if (lang == 'cn') {
                    $("#cart-"+product_id).html('已添加至购物车');
                    $("#cart-"+product_id).prop('disabled',true);
                } else if (lang == 'en') {
                    $("#cart-"+product_id).html('added to cart');
                    $("#cart-"+product_id).prop('disabled',true);
                }
                $.ajax({
                    url: 'cart/add',
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: {
                        'product_id': product_id,
                        'quantity': quantity
                    },
                    dataType: 'json',
                    success: function (response) {

                    },
                    error: function (error) {

                    }
                })
            },
            fetch_products_by_category(category_id){
                this.show_grid();
                this.closeNav();
                this.loading();
                $.ajax({
                    url:'categories/get/'+category_id,
                    method: 'GET',
                    success: function(response){

                    },
                    error: function(error){
                    }
                }).done(data => {
                    this.products = data;
                    this.countdown();
                    this.end_loading();
                });
            },
            fetch_products_by_link(url) {
                this.loading();
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function (response) {

                    },
                    error: function (error) {
                    }
                }).done(data => {
                    this.products = data;
                    this.countdown();
                    this.end_loading();
                });
            },
            fetch_banner_products(){
                $.ajax({
                    url: 'assets/banner_products',
                    method: 'GET',
                    success: function (response) {

                    },
                    error: function (error) {
                    }
                }).done(data => {
                    this.banner_products = data;
                });
            },
            show_product(id){
                _.filter(this.all_products, product => {
                   if(product.id == id){
                       this.product = product;
                       this.show_single = true;
                       return;
                   }
                });
            },
            show_grid(){
                this.show_single = false;
            },
            loading() {
                $('#products-grid').css('opacity', 0.2);
            },
            end_loading() {
                $('#products-grid').css('opacity', 1);
            },
            /**
             * functions for countdown timer
             */
            countdown() {
                this.update_timer();
                this.timeinterval = setInterval(this.update_timer, 1000);
                this.timeinterval = setInterval(this.adjust_sidenav, 500);
            },
            update_timer() {
                this.adjust_sidenav();
                _.filter(this.products, product => {
                    var seconds = Date.parse(new Date(product.deadline)) - Date.parse(new Date()) + 14 * 60 * 60 * 1000;
                    this.$set(product, 'countdown', []);
                    this.$set(product['countdown'], 'hour', Math.floor(seconds / (1000 * 60 * 60)));
                    this.$set(product['countdown'], 'minute', ('0' + Math.floor(seconds / (1000 * 60) % 60)).slice(-2));
                    this.$set(product['countdown'], 'second', ('0' + Math.floor(seconds / (1000) % 60)).slice(-2));
                });
            }
        }
    }
</script>