<template>
    <div id="home-products-index">
        <slot></slot>
        <!-- Image Carousel -->
        <swipe id="slider-banner" class="img-carousel" :speed="500" :auto="5000">
            <template v-for="product in banner_products">
                <swipe-item class="slide">
                    <img v-on:click="show_banner_product(product.product_id)" v-bind:src="'../storage/app/'+product.image">
                </swipe-item>
            </template>
        </swipe>


        <!-- Category Menu Section -->
        <div id="mySidenav" class="sidenav">
            <div>
                <div v-on:click="collapse_all();fetch_products_by_link('products/get_products');closeNav();" class="cate-section w-100 text-center border-1" style="background-color: #D82828">
                    <a class="nav-link text-white" role="button" aria-haspopup="true" aria-expanded="false">
                        全部产品
                    </a>
                </div>
            </div>
            <div>
                <div v-for="category in categories">
                    <hr class="m-0" style="border-top: 5px solid #E1514B;">
                    <div v-on:click="collapse_all();fetch_products_by_category(category.id)" class="cate-section w-100 text-center">
                        <a class="nav-link text-dark" role="button" v-bind:href="'#cate-'+category.id"
                           data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                            <img v-if="category.image != null" class="d-block mx-auto w-100" v-bind:src="'../storage/app/'+category.image">
                            {{category.name}}
                        </a>
                    </div>
                </div>
            </div>



        </div>
        <div id="products-section">

            <img v-if="lang == 'cn'" v-on:click="openNav()" id="open-menu-btn" v-bind:src="'../public/assets/UI/open_menu.png'">
            <img v-else="lang == 'en'" v-on:click="openNav()" id="open-menu-btn" v-bind:src="'../public/assets/UI/open_menu_en.png'">

            <!-- Product Display section -->
            <div v-on:click="closeNav()" id="products-grid" class="container-fluid mb-5">
                <template v-if="show_single == true">
                    <div class="row">
                        <div class="card w-100 pl-2 pr-2">
                            <div class="img-container mt-0">
                                <div class="product-img">
                                    <div v-if="typeof product['countdown'] !== 'undefined'" class="product-timer text-white text-right w-100">
                                        <span style="background-color: #E1514B"> {{product['countdown']['hour']}}:{{product['countdown']['minute']}}:{{product['countdown']['second']}}</span>
                                    </div>
                                    <a v-bind:href="'../storage/app/'+product.image" target="_blank">
                                        <img class="mx-auto d-block" style="width:60%;height:auto;"
                                             v-bind:src="'../storage/app/'+product.image">
                                    </a>
                                </div>
                            </div>
                            <hr class="mt-1 mb-1" style="border-color:#a02e2a;opacity: 0.2">
                            <span class="text-center mb-0 pl-2 pr-2"
                                  style="font-size: 14px;height:2.4em;line-height:1.2em;overflow:hidden;text-overflow: ellipsis"><strong>{{product.name}}</strong></span>
                            <div class="w-100 pl-2 pr-2" style="font-size: 10px">
                                <span class="text-left"> 已售:{{product.sales}}</span>
                                <span class="float-right text-danger"> 余货:{{product.stock}}</span>
                            </div>
                            <div class="w-100 pl-2 pr-2 mb-1" style="font-size: 10px">
                                                <span class="text-left text-danger"
                                                      style="text-decoration: line-through">${{product.RRP}}</span>
                                <span class="float-right text-danger"> $AUD {{product.price}}</span>
                            </div>
                            <button v-on:click="add_to_cart(product.id,1)"
                                    v-bind:id="'cart-'+product.id"
                                    class="btn btn-danger btn-block"
                                    v-bind="{disabled : product.stock <= 0}"><i
                                    class="fas fa-shopping-cart"></i>
                                添加至购物车
                            </button>
                            <button v-on:click="show_grid" class="btn btn-pink btn-block text-white">
                                <i class="fas fa-th-large"></i>
                                返回商品列表
                            </button>
                        </div>
                    </div>
                </template>

                <template v-else>
                    <div class="row pl-3 pr-3">
                        <div v-for="product in products" class="col-6 pl-2 pr-2 pt-2 pb-2 justify-content-center">
                            <div class="card">
                                <div class="img-container mt-0">
                                    <div class="product-img">
                                        <div v-if="typeof product['countdown'] !== 'undefined'" class="product-timer text-pink text-right w-100">{{product['countdown']['hour']}}:{{product['countdown']['minute']}}:{{product['countdown']['second']}}</div>
                                        <img v-on:click="show_product(product.id)" class="mx-auto d-block" style="width:60%;height:auto;" v-bind:src="'../storage/app/'+product.image">
                                    </div>
                                </div>
                                <hr class="mt-1 mb-1" style="border-color:#a02e2a;opacity: 0.2">
                                <span class="text-center mb-0 pl-2 pr-2" style="font-size: 14px;height:3.6em;line-height:1.2em;overflow:hidden;text-overflow: ellipsis"><strong>{{product.name}}</strong></span>
                                <div class="w-100 pl-2 pr-2" style="font-size: 10px">
                                    <span class="text-left"> 已售:{{product.sales}}</span>
                                    <span class="float-right text-danger">余货:{{product.stock}}</span>
                                </div>
                                <div class="w-100 pl-2 pr-2 mb-1" style="font-size: 10px">
                                    <span class="text-left text-danger" style="text-decoration: line-through">${{product.RRP}}</span>
                                    <span class="float-right text-danger"> $AUD {{product.price}}</span>
                                </div>
                                <button v-on:click="add_to_cart(product.id,1)" class="btn btn-danger btn-block" v-bind="{disabled : product.stock <= 0}"><i class="fas fa-shopping-cart"></i> 添加至购物车</button>
                            </div>
                        </div>
                    </div>
                </template>

            </div>
            <div v-if="load_more == true" class="loader-container">
                <div  class="loader">
                </div>
                <span class="text-center text-pink">加载中...</span>
            </div>



            <a id="cart-link" href="cart/show" class="fixed-bottom btn btn-block btn-danger">查看购物车</a>
        </div>

    </div>


</template>

<style>
    html{
        //background-color: #F0EFF5;
    }

    body{
        transition: background-color .5s;
    }

    .loader-container span{
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translateX(-50%) translateY(-50%);
    }

    .loader {
        position: fixed;
        top: 50vh;
        left: 50vw;
        height: 120px;
        width: 120px;
        border: 16px solid ghostwhite;
        border-radius: 50%;
        border-top: 16px solid #E1514B;
        display:inline-block;
        transform: translateX(-50%) translateY(-50%);
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
        opacity: 0.5;
        transition: opacity 0.2s;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg); }
        100% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: translateX(-50%) translateY(-50%) rotate(0deg); }
        100% { transform: translateX(-50%) translateY(-50%) rotate(360deg); }
    }

    .img-carousel .slide img{
        width: 100vw;
        height: auto;
    }

    .img-carousel .slide {
        opacity: 0.3;
        transition: opacity 1s;
        top:0;
    }

    .img-carousel .slide.is-active{
        opacity: 1;
        position: relative;
    }

    .mint-swipe-indicators{
        bottom: 0;
        line-height: 1;
    }

    #open-menu-btn{
        position:fixed;
        left:0;
        top:50vh;
        z-index:1050;
        opacity: 1;
        width: 32px;
        transition: left 1s, opacity 1s;
    }

    #products-section {
        min-height: 60vh;
        position: relative;
    }

    /* The side navigation menu */
    .sidenav {
        position: fixed;
        height: 55vh;
        top: 35vh;
        width: 0; /* 0 width - change this with JavaScript */
        z-index: 1; /* Stay on top */
        left: 0;
        background-color: white;
        overflow-x: hidden; /* Disable horizontal scroll */
        opacity: 0;
        border: 5px solid #DA251E;
        border-radius: 0 10px 10px 0;
        border-left: none;
        box-shadow:5px 5px 10px #E1514B;
        overflow-y: scroll;
        transition: width 1s, opacity 1s, height 0.3s, top 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }


    #close-button {
        position: relative;
        bottom: 0;
        width: 0;
        transition: width 1s;
        font-size: 0.9rem;
        z-index: 1050;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #products-grid {
        transition: margin-left 1s, opacity 0.2s;
        margin-left: 0;
        min-height: 60vh;
    }


    #products-grid button{
        padding-left: 0;
        padding-right: 0;
    }

    #cart-link{
        transition: margin-left 1s, opacity 1s;
        margin-left: 0;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }
</style>

<script>
    export default {
        props: ['productsData','categoriesData'],
        data(){
            return {
                products: [],
                next_page: '',
                categories: [],
                nav_open: false,
                lang: '',
                timeinterval: null,
                show_single: false,
                product: '',
                banner_products: [],
                load_more: false
            }
        },
        created(){
            this.categories = JSON.parse(this.categoriesData);
            this.fetch_all_products();
            this.fetch_banner_products();
            this.nav_open = false;
            this.lang = document.documentElement.lang.substr(0,2);
        },
        methods: {
            fetch_all_products(){
                this.show_grid();
                this.loading();
                $.ajax({
                    url: 'products/get_products',
                    method: 'GET',
                    success: function (response) {

                    },
                    error: function (error) {
                    }
                }).done(data => {
                    this.products = data.data;
                    this.next_page = data.next_page_url;
                    this.countdown();
                    this.end_loading();
                });
            },
            /**
             * functions for UI
             */
            openNav() {
                if(this.nav_open == true){
                    this.closeNav();
                    this.nav_open = false;
                } else {
                    document.getElementById("mySidenav").style.width = "40vw";
                    document.getElementById("products-grid").style.marginLeft = "40vw";
                    $('#cart-link').css('z-index','0');
                    $('#close-button').css('width','40vw');
                    $('#open-menu-btn').css('left','40vw');
                    $('#mySidenav').css('opacity',1);
                    //$('#products-grid').css('opacity',0.5);
                    //$('#pagination-section').css('opacity',0.5);
                    //$('#cart-link').css('opacity',0.5);
                    $('#open-menu-btn').css('opacity',0);
                    //document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
                    this.nav_open = true;
                }
            },

            closeNav() {
                if(this.nav_open == false){
                    return;
                }
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("products-grid").style.marginLeft = "0";
                $('#cart-link').css('z-index','1030');
                $('#close-button').css('width','0');
                $('#open-menu-btn').css('left','0');
                $('#mySidenav').css('opacity',0);
                //$('#products-grid').css('opacity',1);
                //$('#cart-link').css('opacity',1);
                $('#open-menu-btn').css('opacity',1);
                //document.body.style.backgroundColor = "#F0EFF5";
                this.nav_open = false;
            },
            collapse_all(){
                $("#mySidenav .collapse.show").collapse('hide');
            },
            back_top(){
                $(window).scrollTop(0);

            },
            adjust_sidenav(){
                var window_height = document.documentElement.clientHeight;
                var cart_btn_height = $('#cart-link').outerHeight()+10;
                var bar_height = window_height - $("#top-logo").height() - $("#slider-banner").height() - cart_btn_height + $(window).scrollTop();
                var top = $("#top-logo").height() + $("#slider-banner").height() - $(window).scrollTop();
                if(bar_height > window_height - cart_btn_height){
                    bar_height = window_height - cart_btn_height;
                }
                if(top < 0){
                    top = 0;
                }
                $("#mySidenav").height(bar_height);
                $("#mySidenav").css('top',top);

                this.load_more_products();
            },
            /**
             * Ajax functions for cart function
             */
            add_to_cart(product_id, quantity){
                var lang = this.lang;
                if(lang == 'cn'){
                    alert('已添加至购物车');
                } else if(lang == 'en'){
                    alert('Success');
                }
                $.ajax({
                    url:'cart/add',
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data:{
                        'product_id':product_id,
                        'quantity':quantity
                    },
                    dataType: 'json',
                    success: function(response){

                    },
                    error: function(error){

                    }
                })
            },
            fetch_banner_products(){
                $.ajax({
                    url: 'assets/banner_products',
                    method: 'GET',
                    success: function (response) {

                    },
                    error: function (error) {
                    }
                }).done(data => {
                    this.banner_products = data;
                });
            },
            fetch_products_by_category(category_id){
                this.closeNav();
                this.loading();
                $.ajax({
                    url:'categories/get/'+category_id,
                    method: 'GET',
                    success: function(response){

                    },
                    error: function(error){
                    }
                }).done(data => {
                    this.products = data.data;
                    this.next_page = data.next_page_url;
                    this.end_loading();
                });
            },
            fetch_products_by_link(url){
                this.load_more = true;
                this.loading();
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function(response){

                    },
                    error: function(error){
                    }
                }).done(data => {
                    this.products.push.apply(this.products,data.data);
                    this.next_page = data.next_page_url;
                    this.end_loading();
                    this.load_more = false;
                    this.scroll_down();
                });
            },
            load_more_products(){
                if(this.show_single == true){
                    return;
                }
                var offset = $(window).scrollTop() + window.innerHeight;
                var height = document.documentElement.offsetHeight;
                if (offset >= height && this.next_page != null && this.load_more == false) {
                    this.fetch_products_by_link(this.next_page);
                }
            },
            scroll_down(){
                window.scrollTo(0,document.querySelector("#products-grid").scrollHeight);
            },
            show_banner_product(id){
                this.loading();
                $.ajax({
                    url: 'products/get_product/'+id,
                    method: 'GET',
                    success: function(response){

                    },
                    error: function(error){
                    }
                }).done(data => {
                    this.product = data;
                    this.end_loading();
                    this.show_single = true;
                });
            },
            show_product(id){
                _.filter(this.products, product => {
                    if(product.id == id){
                        this.product = product;
                        this.show_single = true;
                        return;
                    }
                });
            },
            show_grid(){
                this.show_single = false;
            },
            loading(){
                $('#products-grid').css('opacity',0.1);
                $('.loader').css('opacity',1);
            },
            end_loading(){
                $('#products-grid').css('opacity',1);
                $('.loader').css('opacity',0.5);
            },
            testing(){
                var offset = $(window).scrollTop() + window.innerHeight;
                var height = document.documentElement.offsetHeight;
                alert(offset);
                alert(height);
            },
            /**
             * functions for countdown timer
             */
            countdown(){
                this.timeinterval = setInterval(this.update_timer, 1000);
                this.timeinterval = setInterval(this.adjust_sidenav, 200);
            },
            update_timer(){
                _.filter(this.products, product => {
                    var seconds = Date.parse(new Date(product.deadline)) - Date.parse(new Date()) + 14*60*60*1000;
                    this.$set(product,'countdown',[]);
                    this.$set(product['countdown'],'hour',Math.floor(seconds/(1000*60*60)));
                    this.$set(product['countdown'],'minute',('0' + Math.floor(seconds/(1000*60)%60)).slice(-2));
                    this.$set(product['countdown'],'second',('0' + Math.floor(seconds/(1000)%60)).slice(-2));
                });
                if(this.show_single == true){
                    var seconds = Date.parse(new Date(this.product.deadline)) - Date.parse(new Date()) + 14*60*60*1000;
                    this.$set(this.product,'countdown',[]);
                    this.$set(this.product['countdown'],'hour',Math.floor(seconds/(1000*60*60)));
                    this.$set(this.product['countdown'],'minute',('0' + Math.floor(seconds/(1000*60)%60)).slice(-2));
                    this.$set(this.product['countdown'],'second',('0' + Math.floor(seconds/(1000)%60)).slice(-2));
                }
            }
        }
    }
</script>