input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#loading-img{
    width: 100vw;
    height: 100vh;
}


#firstshopping-banner .carousel-indicators{
    bottom: 0px !important;
}

#firstshopping-banner ol{
    margin-bottom: 0px !important;
}

.text-pink{
    color: #E1514B;
}

.text-danger{
    color: #DA251E !important;
}

.btn-pink{
    background-color: #E1514B;
    border-color: #E1514B;
}

.btn-pink:focus{
    box-shadow: none !important;
}

.btn-danger{
    background-color: #DA251E !important;
    border-color: #DA251E;
}

.btn-danger:focus{
    box-shadow: none !important;
}


.btn-outline-danger{
    border-color: #DA251E !important;
    color: #DA251E !important;

}

.btn-outline-danger:hover{
    color: white !important;
}

.btn-outline-danger:active{
    color: white !important;
}

.btn-outline-danger:focus{
    box-shadow: none;
}

#top-logo{
    height: 10vh;
    width:100vw;
}


.pagination .page-link{
    color: #DA251E;
}

.pagination .page-item.active .page-link{
    color: white;
    background-color: #DA251E;
    border-color: #DA251E;
}

.btn-0-radius{
    border-radius: 0;
}

.form-control:focus{
    border-color: #DA251E;
    box-shadow: 0 0 0 0.1rem #DA251E !important;
    -webkit-box-shadow: 0 0 0 0.1rem #DA251E !important;
}

.bg-danger {
    background-color: #DA251E;
}

.bg-pink{
    background-color: #E1514B;
}

.success_img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: Transparent;
    border: none;
    cursor: pointer;
}

#cn-btn{
    width: 40vw;
    position: fixed;
    top: 45vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
}

#en-btn{
    width: 40vw;
    position: fixed;
    top: 55vh;
    left: 50vw;
    transform: translateY(+50%) translateX(-50%);
}
