 <template>
    <div>
        <div class="form-group row ">
            <label for="location" class="col-form-label col-4 pl-0 pr-1 text-dark text-right" style="font-size: medium; "><span class="text-danger">*</span>{{$t('提货地址')}}:</label>

            <div class="col-8">
                <select v-model="selected_location" id="location" class="form-control"
                        name="location" required autofocus>
                    <option value="null" selected disabled>{{$t('请选择收货地址')}}</option>
                    <template v-for="option in locations">
                        <option v-bind:value="option" >{{$t(option.name)}}</option>
                    </template>
                </select>
                <slot></slot>
            </div>
        </div>
        <div v-if="selected_location != null" class="form-group row ">
            <label for="location" class="col-form-label col-4 pl-0 pr-1 text-dark text-right" style="font-size: medium; "><span class="text-danger">*</span>{{$t('提货时间')}}:</label>

            <div class="col-8">
                <select id="pickup_time_id" class="form-control"
                        name="pickup_time_id" required autofocus>
                    <option value="null" selected disabled>{{$t('请选择收货时间')}}</option>
                    <template v-for="option in pickup_time_options">
                        <option v-bind:value="option.id" >{{$t(option.time)}}</option>
                    </template>
                </select>
                <slot></slot>
            </div>
        </div>
        <hr>
        <div class="form-group row ">
            <label for="location" class="col-12 text-dark text-center" style="font-size: medium; ">{{$t('取货地址和时间')}}:</label>

            <div class="text-dark col-12">
                <p v-if="detail != null" style="white-space: pre-line">{{$t(detail)}}</p>
                <p v-else>{{$t('请先选择地址')}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['locationOptions'],
        data(){
            return {
                locations: [],
                selected_location: null
            }
        },
        computed: {
            detail: function(){
                if(this.selected_location != null){
                    return this.selected_location.detail;
                } else {
                    return null;
                }
            },
            pickup_time_options: function(){
                return this.selected_location.pickup_times;
            }
        },
        created(){
            this.locations = JSON.parse(this.locationOptions);
        }
    }
</script>