<template>
    <div>
        <div class="form-group row mb-5">
            <label for="location" class="col-form-label col-4 pl-0 pr-1 text-dark text-right"><span class="text-danger">*</span>{{$t('提货地址')}}:</label>

            <div class="col-8">
                <select id="location" class="form-control"
                        name="location" required autofocus>
                    <option value="13" selected>First Shopping 分店</option>
                    <!--
                    <option value="null" selected disabled>{{$t('请选择收货地址')}}</option>
                    <template v-for="option in locations">
                        <option v-bind:value="option" >{{$t(option.name)}}</option>
                    </template>
                    -->
                </select>
                <slot></slot>
            </div>
        </div>
        <div class="form-group row mb-5">
            <label for="location" class="col-form-label col-4 pl-0 pr-1 text-dark text-right"><span class="text-danger">*</span>{{$t('提货时间')}}:</label>

            <div class="col-8">
                <select id="pickup_time_id" class="form-control"
                        name="pickup_time_id" required autofocus>
                    <option value="10" selected>下单后一个工作日门店自提</option>
                </select>
                <slot></slot>
            </div>
        </div>
        <hr>
        <div class="form-group row" style="margin-top: 200px;">
            <label for="location" class="col-12 text-dark text-center" style="font-size: 40px">{{$t('取货地址和时间')}}:</label>

            <div class="text-dark col-12 text-center">
                <p>902-904 Whitehorse Road, Box Hill</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['locationOptions'],
        data(){
            return {
                locations: [],
                selected_location: null
            }
        },
        computed: {
            detail: function(){
                if(this.selected_location != null){
                    return this.selected_location.detail;
                } else {
                    return null;
                }
            },
            pickup_time_options: function(){
                return this.selected_location.pickup_times;
            }
        },
        created(){
            this.locations = JSON.parse(this.locationOptions);
        }
    }
</script>